.aside {
 width: 100%;
 display: inline-block;
}

aside {
 width: 30%;
 height: 820px;
 margin: 0 30px;
 padding: 20px;
 border-radius: 30px;
 display: inline-block;

 background-image: url(../imagens/brick-wall-1834784_1280.jpg);
 background-attachment: fixed;
 background-size: cover;
}

.aside h3,
.aside p {
 color: var(--color-white);
 text-align: center;
}

.aside h3 {
 font-size: 3.5rem;
 margin-top: 30px;
 margin-bottom: 20px;
 text-shadow: 10px 10px 8px var(--color-black);
}

.aside p {
 font-size: 1.2rem;
 line-height: 1.5;
 font-weight: 500;
 text-shadow: 10px 10px 10px var(--color-black);
}