footer {
 text-align: center;
 background: linear-gradient(180deg, rgba(115,10,14,1) 61%, rgba(0,0,0,1) 100%);

 color: var(--color-white);
 text-shadow: 2px 2px 3px var(--color-black);
 padding: 30px;
}