.cards-sandwich {
 width: 100%;
 vertical-align: top;
 text-align: center;

 display: inline-block;
}

.content-cards-sandwich {
 box-shadow: 4px 4px 20px var(--color-primary);
 background-color: var(--color-cards);
 border-radius: 10%;
 width: 23%;
 min-height: 380px;
 vertical-align: top;
 
 
 padding: 25px;
 margin: 10px;

 display: inline-block;
}