@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-base: 'Roboto', arial, sans-serif;
}

.f-size-1 {
  font-size: 1rem;
}

.f-size-12 {
  font-size: 1.2rem;
}

.f-size-15 {
  font-size: 1.5rem;
}

.f-size-2 {
  font-size: 2rem;
}

.f-size-25 {
  font-size: 2.5rem;
}

.f-size-28 {
  font-size: 2.8rem;
}

.f-size-3 {
  font-size: 3rem;
}

.f-size-4 {
  font-size: 4rem;
}

.f-size-5 {
  font-size: 5rem;
}