@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
 font-family: 'roboto';
 width: 100%;
 background-color: #d0e1d9;
}

ol, ul {
 height: 180px;
}

.pai {
 background-color: whiter;
}

.mae li {
 color: #0d4e32;
}

.filho li {
 color: rgb(0, 0, 204);
}

.filha li {
 color: #408767;;
}

.lista {
 width: 70%;
 display: flex;
}

.compras {
 padding: 0 40px;
}

table {
 text-align: center;
 border-collapse: collapse;
 
 margin-top: 10px;
}

.week td {
 background-color: #6fa58b ;
}

.turn {
 background-color: #6fa58b ;
}

tr:nth-child(even) {
 background-color: #6fa58b;
}

li:nth-child(even) {
 background-color: #6fa58b;
}