.img-footer {
 background-image: url(../imagens/coffee-fumaça-626x417.avif);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 text-align: center;
 
 width: 100%;
 height: 40vh;
}

.info {
 font-weight: 100;
 font-size: .8rem;
 
 padding-top: 40px;
}

.info img {
 width: 30px;
}

.info a,
.info p {
 color: var(--color-white);
 padding: 10px 0;
}

.icons a {
 padding: 10px;
}

footer {
 background: linear-gradient(180deg, var(--color-primary) 61%, rgba(0,0,0,1) 100%);
 text-shadow: 2px 2px 3px var(--color-black);
 color: var(--color-white);
 text-align: center;
 
 padding: 20px;
}