.container-news {
 text-align: center;
 width: 100%;
 margin-bottom: 40px;
 display: inline-block;
}

.content-news {
 display: inline-block;
 width: 45%;
 vertical-align: top;
}

.news {
 text-align: start;
 width: 90%;
 margin-left: 50px;
 display: inline-block;
}

.news h2 {
 color: var(--color-primary);
 font-size: 2rem;
 padding: 20px 0;
}

.news p,
.news input,
.news label {
 color: var(--color-primary);
 font-size: 1.3rem;
 font-weight: 300;
}

.news p,
.news .form-name {
 font-weight: 400;
 margin-bottom: 10px;
}

.news .confirmation {
 margin: 10px 0;
}

.news input {
 border: 3px solid var(--color-primary);
 border-radius: 5px;
 font-size: 1rem;
 padding: 3px;
}

.button {
 text-align: start;
}

button {
 color: var(--color-white);
 background-color: var(--color-primary);
 border: none;
 border-radius: 5px;
 padding: 10px 18px;
 margin: 0 30px;
}

button:hover {
 background-color: var(--color-black);
}