header {
 background: linear-gradient(0deg, var(--color-primary) 61%, var(--color-black) 100%);
 text-align: center;
 width: 100%;
 padding-bottom: 10px;
 position: fixed;
 top: 0;
 z-index: 1;
}

h1 {
 text-shadow: 4px 4px 10px var(--color-black);
 color: var(--color-white);
 text-transform: uppercase;
 font-size: 2rem;
 padding-top: 10px;
 display: inline-block;
}

nav li {
 color:var(--color-white);
 font-size: .8rem;
 margin: 0 10px;
 display: inline-block;
}

header a {
 color:var(--color-white);
 text-shadow: 4px 4px 5px var(--color-black);
}

header a:hover {
 color:var(--color-black);
 font-weight: bold;
}

header img {
 width: 50px; 
 margin-left: 40px;
 margin-top: 10px;
 float: left;
}